@font-face {
    font-family: 'Italianno';
    src: url('Italianno-Regular.woff2') format('woff2'),
        url('Italianno-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Yaldevi';
    src: url('Yaldevi-ExtraLight.woff2') format('woff2'),
        url('Yaldevi-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-Regular.woff2') format('woff2'),
        url('Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

