.works {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
}

@keyframes appear {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.works .title {
  font: 48px 'Italianno';
  align-self: flex-start;
  animation: appear 1s ease-in both;
  animation-delay: 2s;
}

.dev-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
  grid-auto-rows: 1fr;
  gap: 20px;
  align-content: center;
  justify-content: center;
}

.dev-card {
  transition:
    transform 1s ease-out,
    opacity 1s ease-out;
  opacity: 0%;
  box-shadow: 0px 4px 4px #00000025;
}

.dev-card:nth-of-type(odd) {
  transform: translateX(-10vw);
}

.dev-card:nth-of-type(even) {
  transform: translateX(10vw);
  transition-delay: 0.5s;
}

.dev-card.animate {
  transform: translateX(0px);
  opacity: 100%;
}

@media (max-width: 599px) {
  .works {
    gap: 80px;
  }

  .works .title {
    align-self: center;
  }

  .dev-cards {
    gap: 40px;
    grid-template-columns: 1fr;
  }

  .dev-card:nth-of-type(even) {
    transition-delay: 0s;
  }
}
